################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YGO2D/v14
/dist
/Library
/obj/Debug
/ProjectSettings
/Temp
/Assets/Resources/image/CardImage
